**Dataset**

The name of the dataset is sales.csv

**Context**

This dataset is a record of some building or building unit (apartment, etc.) sold in the New York City property market over a 8-month period.

**Content**

This dataset contains the location, address, type, sale price, and sale date of building units sold. A reference on the trickier fields:

    BOROUGH: A digit code for the borough the property is located in; in order these are Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).
    BLOCK, LOT: The combination of borough, block, and lot forms a unique key for property in New York City. Commonly called a BBL.

Note that because this is a financial transaction dataset, there are some points that need to be kept in mind:

    Many sales occur with a nonsensically small dollar amount: $0 most commonly. These sales are actually transfers of deeds between parties: for example, parents transferring ownership to their home to a child after moving out for retirement.

Import the sales.csv dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("data\\sales.csv")

check the info of the dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3579 entries, 0 to 3578
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   BOROUGH                  3579 non-null   int64
 1   NEIGHBORHOOD             3579 non-null   object
 2   BUILDING CLASS CATEGORY  3579 non-null   object
 3   TAX CLASS AT PRESENT     3579 non-null   object
 4   BLOCK                    3579 non-null   int64
 5   LOT                      3579 non-null   int64
 6   ADDRESS                  3579 non-null   object
 7   ZIP CODE                 3579 non-null   int64
 8   RESIDENTIAL UNITS        3579 non-null   int64
 9   COMMERCIAL UNITS         3579 non-null   int64
 10  TOTAL UNITS              3579 non-null   int64
 11  LAND SQUARE FEET         3579 non-null   int64
 12  YEAR BUILT               3579 non-null   int64
 13  SALE PRICE               3579 non-null   int64
 14  SALE DATE                3579 non-null   object
dtypes: int64(10), object(5)
memory usage: 419.5+ KB

check the description of the dataset

In [4]:
df.describe()

,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE
count,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3579.000000,3.579000e+03,3579.000000,3.579000e+03
mean,2.966192,4150.419670,381.842414,10680.873987,2.290025,0.153674,2.473875,3.605483e+03,1782.920648,1.005316e+06
std,1.294840,3531.382379,637.913571,1447.476149,31.872076,3.250381,32.387727,7.225966e+04,547.202378,3.513772e+06
min,1.000000,3.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00
25%,2.000000,1323.500000,22.000000,10303.000000,0.000000,0.000000,1.000000,0.000000e+00,1920.000000,0.000000e+00
50%,3.000000,3164.000000,50.000000,11208.000000,1.000000,0.000000,1.000000,1.710000e+03,1940.000000,4.300000e+05
75%,4.000000,6067.500000,1002.000000,11355.000000,2.000000,0.000000,2.000000,2.668500e+03,1966.000000,8.475000e+05
max,5.000000,16316.000000,7232.000000,11694.000000,1844.000000,184.000000,1866.000000,4.228300e+06,2017.000000,8.637500e+07

Read this - BOROUGH: A digit code for the borough the property is located in; in order these are Manhattan (1), Bronx (2), Brooklyn (3), Queens (4), and Staten Island (5).

After reading answers the following questions :-
1. How many property is located in Manhattan (1).
2. How many property is located in Bronx (2).
3. How many property is located in Brooklyn (3).
4. How many property is located in Queens (4).
5. How many property is located in Staten Island (5).

In [5]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017

1. How many property is located in Manhattan (1).

In [14]:
len(df[df["BOROUGH"]==1])

803

2.How many property is located in Bronx (2).

In [19]:
len(df[df["BOROUGH"]==2])

306

3.How many property is located in Brooklyn (3).

In [24]:
len(df[df["BOROUGH"]==3])

1026

4.How many property is located in Queens (4).

In [25]:
len(df[df["BOROUGH"]==4])

1097

5.How many property is located in Staten Island (5).

In [26]:
len(df[df["BOROUGH"]==5])

347

1. How many property have more than 60 RESIDENTIAL UNITS.
2. How many property have 10 COMMERCIAL UNITS.
3. How many property have 300 TOTAL UNITS.
4. How many property have at least 40 RESIDENTIAL UNITS as well as at least 10 COMMERCIAL UNITS.
5. How many property have zero RESIDENTIAL UNITS.
6. How many property have zero COMMERCIAL UNITS.

In [42]:
#1.
len(df[(df['RESIDENTIAL UNITS']>60)])

10

In [115]:
#2.
len(df[(df['COMMERCIAL UNITS']==10)])

0

In [117]:
#3.
len(df[df['TOTAL UNITS']==300])

0

How many property have at least 40 RESIDENTIAL UNITS as well as at least 10 COMMERCIAL UNITS.

In [103]:
#4.
len(df[(df['RESIDENTIAL UNITS']>40)& (df['COMMERCIAL UNITS']>10)])

1

How many property have zero RESIDENTIAL UNITS.

In [71]:
#5.
len(df[df['RESIDENTIAL UNITS']==0])

1053

How many property have zero COMMERCIAL UNITS?

In [72]:
len(df[df['COMMERCIAL UNITS']==0])

3382

In [73]:
df.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017
3,4,ROCKAWAY PARK,03 THREE FAMILY DWELLINGS,1,16213,16,241 BEACH 117 STREET,11694,3,0,3,4000,1905,0,5/12/2017
4,4,DOUGLASTON,02 TWO FAMILY DWELLINGS,1,8304,28,245-71 61ST AVENUE,11362,2,0,2,3600,1950,844180,6/27/2017

How many Property have zero SALE PRICE

In [74]:
len(df[df['SALE PRICE']==0])

1023

How many property have more than 10000 LAND SQUARE FEET and build befor 1970

In [83]:
len(df[(df['LAND SQUARE FEET']>10000) & (df['YEAR BUILT']<1970) ])

46

How many property have "1A" and "2A" TAX CLASS AT PRESENT respectively also have at least 1 million dollar SALE PRICE

In [104]:
len(df[(df['TAX CLASS AT PRESENT']=='1A')|(df['TAX CLASS AT PRESENT']=='2A') & (df['SALE PRICE']>=1000000) ])

96

In [105]:
df.head(3)

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,ADDRESS,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,YEAR BUILT,SALE PRICE,SALE DATE
0,3,KENSINGTON,09 COOPS - WALKUP APARTMENTS,2,5329,62,"179 OCEAN PARKWAY, 3A",11218,0,0,0,0,1923,389000,8/1/2017
1,3,BAY RIDGE,02 TWO FAMILY DWELLINGS,1,5911,8,7205 6 AVENUE,11209,2,0,2,2177,1910,0,5/30/2017
2,1,UPPER EAST SIDE (79-96),10 COOPS - ELEVATOR APARTMENTS,2,1512,1,"983 PARK AVENUE, 3C",10028,0,0,0,0,1927,7600000,5/10/2017

How many Property were build in 1980's decade

In [110]:
len(df[df['YEAR BUILT']==1980])

20